.demoForm {
	padding: 12%;
	height: 100vh;
}

.form-group
{
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.App-logo-sudh
{
	height: 50px;
}

linkedin-logo
{
	height: 100px;
}