.App {
  text-align: center;
}

.App-logo {
  height: 200px;
}

.App-header {
  background: url("../src/assets/leftside.jpg");
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
}

.App-intro {
  font-size: large;
}